html {
  font-size: 24px;
  --color-bg: #f1f5d8;
  --color-text: #c51b54;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: 'Fern Web', system-ui, serif;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

.button {
  display: block;;
  width: fit-content;
  margin-block: 1rem;
  margin-inline: auto;
  padding: 0.5rem;
  color: var(--color-bg);
  background-color: var(--color-text);
  transition: 0.5s;
  border-radius: 0;
  box-shadow: 0 0 10px 2px grey;;
}

.button:hover {
  border-radius: 1rem;
  box-shadow: 0 0 10px 2px var(--color-text);
}

.center {
  text-align: center;
}

.infobox {
  width: fit-content;
  font-size: 0.8rem;
  padding: 0.5em;
  border-radius: 0.25em;
  font-family: system-ui;
  text-transform: uppercase;
  /* invert colors */
  color: var(--color-bg);
  background-color: var(--color-text);
}

img {
  max-width: 100%;
}

section,
header,
footer {
  margin: auto;
  padding: 1em;
  max-width: 800px;
}

header,
footer {
  display: flex;
  justify-content: space-around;
  font-family: system-ui, -apple-system, "San Francisco", "Helvetica Neue", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

header aside,
footer aside {
  font-size: min(1em, 5vw);
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: auto 2rem;
  padding: 0.4em 0;
  border: 3px var(--color-text);
  border-top-style: solid;
  border-bottom-style: solid;
}

header a,
footer a {
  flex-basis: 150px;
  flex-grow: 0;
}

header .logo,
footer .logo {
  align-self: center;
  max-height: 8rem;
  object-fit: contain;
  margin: 1em;
}

#letter p {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
}

h1 {
  font-size: min(7rem, 20vw);
  font-family: 'Whirly Birdie', Impact, sans-serif;
  font-weight: normal;
  font-variation-settings: 'wght' 53, 'wdth' 50, 'ital' 14;
  margin: 28px 0;
  text-align: center;
}

.showtitle,
.announcement {
  max-width: 1200px;
  text-align: center;
}

h2, h3 {
  font-weight: 800;
  margin: 28px 0;
  font-family: 'Warbler Text Web', 'Crayonette DJR', serif;
  font-style: italic;
}

h2 em,
h3 em {
  font-style: normal;
  font-variant-caps: small-caps;
  font-weight: normal;
}

li em {
  font-variant-caps: all-small-caps;
  opacity: 0.5;
}

li em::before {
  content: '[ ';
}

li em::after {
  content: ' ]';
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}

small {
  /* all-small-caps don't work right */
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: .9em;
}

.number {
  margin-bottom: 0;
}

.number + p {
  margin-top: 0;
}

section#gallery {
  max-width: unset;
  padding-left: 0;
  padding-right: 0;
}

section#gallery > *:not(.carousell) {
  max-width: 800px;
  margin: auto;

  overflow-y: scroll;
}

.carousell {
  /* en.wikipedia.org/wiki/B%26B_Carousell */
  overflow-y: scroll;
  margin: 1em 0;
}

.carousell .wolfinger {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  width: calc((800px + 1em) * 17); /* must be # of children */
  margin: 0 calc(50vw - 400px); /* omg it works */
  /* TODO: margin-right is actually ignored https://stackoverflow.com/q/38993170/1489243 */
}

figure {
  margin: 0;
}

figure + figure {
  margin-left: 1em;
}

figure img {
  width: 100%;
  border-radius: 1em;
}

figure figcaption {
  padding: 0 1em;
  font-size: 0.7em;
  text-transform: lowercase;
  font-variant: small-caps;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

figcaption.date {
  font-style: italic;
}

@media screen and (max-width: 800px) {
  /* see also above for .carousell (keeping with its calc()-heavy styles) */
  html {
    font-size: 20px;
  }

  header aside,
  footer aside {
    font-weight: 500;
    border-width: 2px;
  }

  section,
  header,
  footer {
    padding: 0 1em;
  }

  h1 {
    margin: 18px 0;
  }

  h2 {
    margin: 56px 0 18px;
  }

  h2 {
    text-align: center;
    font-size: 1.7rem;
  }

  .links {
    text-align: center;
  }
}

@media screen and (max-width: 1020px) {
  header,
  footer {
    flex-direction: column;
  }

  header aside,
  footer aside {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 1em 3em;
  }

  h1, h2, h3, p {
    hyphens: auto;
    -webkit-hyphens: auto;
  }
}

a {
  color: inherit;
  font-weight: 600;
  text-decoration-color: currentColor;
  text-decoration-thickness: 2px;
}

a:hover {
  text-decoration-color: currentColor;
}

a.secret {
  font-weight: inherit;
  text-decoration: none;
}

a.secret:hover {
  color: var(--color-text);
}

.special {
  color: #a21645 !important;
  text-decoration-color: #a21645;
}

#events {
  text-align: center;
}

/* ğ“™ğ“ªğ“¬ğ“¸ğ“« ğ“•ğ“¸ğ“»ğ“­, 2021 */
