---
import Polaroid from '@components/polaroid.astro'
import Head from '@components/Head.astro'

import imgJeffHeadshot from '@photos/BLOG JK Paris window 1023.jpeg'
import imgTrees from '@photos/IMG_9822small.jpg'
import imgArch from '@photos/IMG_9815small.jpg'
---
<!DOCTYPE html>
<html>
<Head
  pageSubtitle = "About Your Professeur & Gentil Organisateur"
/>
<body>
  <header>
    <h1>Paris is my&nbsp;ocean</h1>
  </header>

  <section>
    <h2>About Jeff Kraft</h2>
    <Polaroid src={imgJeffHeadshot} alt="Photo of Jeff Kratz, framed by a breezy window" />
    <p>Under its surface, as the great writer Honoré de Balzac noted, there are always new discoveries—places, scents, tastes, colors—that captivate and renew all our senses.&nbsp;</p>
    <p>I’ve made 30+ personal and professional trips there and, as Ernest Hemingway wrote, was lucky enough to have lived there as a young man. Wherever I’ve gone in my life, Paris has indeed stayed with me. Far from my central Illinois origins. (I currently live in Washington DC with my wife Frances, who hails from Florida and enjoys Paris as much as I do: in fact, we were married there.)</p>
    <p>I’ve been a college French professor for more than a decade, teaching college students not only the language but also literature, history and culture. It’s been a full-circle moment since my first job after college in the 1980s was teaching English at a Paris <em>lycée</em> on a Fulbright program. That led to earning my Master’s in journalism from the Université de Paris II (Panthéon-Assas) and a long career in international marketing.</p>
    <p>For this next chapter, I am committed to teaching and guiding fellow French nerds—OK, <em>Francophiles</em>—along the splendid boulevards, bridges, gardens and narrow passageways that I’ve gotten to know so well (yet still surprise me). What will make your trip so much more than mere travel is that you’ll study French lifestyle, literature and language in mini courses <em>before</em> we travel. Once there, you’ll live and travel like a local, immersed in a central base of the city, and will balance guided explorations along with your own interests and discoveries. I’ll be there as a resource every step of the way.</p>
    <p>I’m also the author and photographer of <a href="https://www.amazon.com/Literary-Paris-Jeffrey-Kraft/dp/0823028305"><em>Literary Paris</em></a>, in which I’ve paired my black-and-white Paris photography with excerpts and inspiring quotes from the great writers who made Paris timeless. I’ll be excited to work with you as a photographer and editor to produce a coffee table book of your journey—one that celebrates why Paris and France are important <em>to you</em>.</p>
      <Polaroid src={imgTrees} alt="B&W photo of trees, perfectly framed, by Jeff Kraft" />
      <Polaroid src={imgArch} alt="Photo a Paris arch covered in vines, by Jeff Kraft" />
  </section>

  <a class="button" href="/">← Head back home</a>

</body>
</html>

<!-- 𝓙𝓪𝓬𝓸𝓫 𝓕𝓸𝓻𝓭, 2024 -->
