---
import Page from '@layouts/Page.astro'

import Polaroid from '@components/polaroid.astro'
---
<Page
  title = 'Take a Mini-Course'
  browserTitle = 'Courses'
>
	<section>
    <p>French topics taught in English in a live, online format via Zoom. To encourage group discussions, maximum class size is 10 people.</p>
    <h2>Upcoming Courses</h2>
    <p><em>All taught in English!</em></p>
    <details>
      <summary class="infobox">French-for-Travel Boot Camp</summary>
      <p><strong>Course Type:</strong> Literature</p>
      <p><strong>Start Date:</strong> Tuesday, July 30 8pm EDT / 7pm CDT</p>
      <p><strong>Format:</strong> 4 one-hour Zoom sessions</p>
      <p>Hemingway’s memoir sets the world to dreaming, and Paris of the 1920s springs to life in this slim volume published after the author’s 1961 death. We’ll read the book, but also take in movies, texts and articles that provide a richer background for fully savoring Ernest’s Paris in ways that “will stay with you, wherever you go.”</p>
    </details>

    <details>
      <summary class="infobox">Navigating Paris</summary>
      <p><strong>Course Type:</strong> Language</p>
      <p><strong>Start Date:</strong> Saturday, August 10 noon EDT / 11 am CDT</p>
      <p><strong>Format:</strong> 4 one-hour Zoom sessions</p>
      <p>This course will give you the immersion tools, pragmatic vocabulary, and conversational practice you’ll need to dust off your French and move toward official A2 level language competency—whether greeting, wayfinding, or buying your daily baguette.</p>
    </details>

    <details>
      <summary class="infobox"><strong>May 2024:</strong> Navigating Paris Transport</summary>
      <p><strong>Course Type:</strong> Lifestyle</p>
      <p><strong>Start Date:</strong> Thursday, September 5. 8pm EDT / 7pm CDT</p>
      <p><strong>Format:</strong> 4 one-hour Zoom sessions</p>
      <p>Getting around Paris and France can be daunting, but not if you have some context and advance prep. We’ll discuss pragmatic aspects of trains and subways, buses and bikes, taxis and Ubers, planes and airports. You’ll emerge with apps and profiles set up and passes and tickets in hand – everything to travel with confidence.</p>
    </details>

    <p>$95 includes a reading list for a four-session course, professor-guided instructions, and writing guidance/editing of your reflections.</p>

    <p class="center">Interested?</p>

    <a class="button" href="mailto:jeff@litlifefrance.com?subject=Mini Course">Reserve Your Space in a Course with a quick email</a>

    <p class="center">No commitment whatsoever.</p>

    <p>Just tell me a bit about yourself and which course you’re eyeing. Prefer filling out a form? <a href="https://unitof.typeform.com/to/xUAD6RM2">You can do that too</a>.</p>
  </section>
 </Page>