---
import Polaroid from '@components/polaroid.astro'
import Head from '@components/Head.astro'

import imgJeffLuxe from '@photos/jk_luxembourg.jpg'
import imgJeffNice from '@photos/jk_trianon.jpg'
---
<!DOCTYPE html>
<html>
<Head
  pageSubtitle = "Learn & Travel"
/>
<body>
  <header>
    <aside>Live in French</aside>
    <h1>Enlightening Journeys to France</h1>
    <aside>Enjoy&nbsp;in English</aside>
  </header>

  <section class="intro">
    <p><strong>LitLifeFrance</strong> is an online community celebrating French culture, language and literature in a live online minicourse format, taught in English, before you actually explore France in new ways as a small group—with your professor as your in-person guide.</p>
    <p><a href="https://blog.litlifefrance.com">Sign up for a weekly dose of all things French <em>ici</em></a>.</p>
  </section>

  <section>
    <h2>Meet Jeff Kraft, your <em>Professeur & Gentil Organisateur</em></h2>
    <Polaroid src={imgJeffLuxe} alt="Photo of Jeff Kratz, falling asleep in Luxembourg" />
    <p>“PGO” is a fun way of saying I’m an easygoing teacher and guide. I’ve lived in, worked in and traveled to France more than 30 times. I have been teaching college-level French language and culture for over a decade. I’m also the author of <a href="https://www.amazon.com/Literary-Paris-Jeffrey-Kraft/dp/0823028305"><em>Literary Paris</em></a>, a book of photography and travel essays.</p>
    <Polaroid src={imgJeffNice} alt="Photo of Jeff Kratz, standing in a garden" />
    <p>LitLifeFrance is my next chapter: sharing my love and expertise to small groups online, then traveling to France together for unforgettable, one-week <em>séjours</em> (journeys).</p>
  </section>

  <section>
    <h2>The Mini Courses</h2>
    <p class="infobox">Courses begin <strong>May 2024</strong></p>
    <p>Begin your French refresh with a mini course. These aren’t your average French class: I’ve adapted the best parts of my undergraduate courses – organized into small bites by literature, language or lifestyle—for everyday learners. With an emphasis on book-group style discussion, courses also let me get to know you and help build our community of fellow French nerds. While courses are aligned to a tailored 7-day Paris experience, you are <strong>not</strong> commiting to travel by enrolling. There will be plenty of time to decide if you want to join a journey.</p>

    <p>Interested? <a href="https://unitof.typeform.com/to/xUAD6RM2" class="button">Tell me more about yourself.</a></p>

    <p>$95 includes a reading list for a four-session course, professor-guided instructions, and writing guidance/editing of your reflections.</p>

    <h2>Upcoming Journeys</h2>
    <p class="infobox"><strong>Octobre 2024:</strong> Paris Saint-Germain</p>
    <p><strong>Arrivée: samedi 5 octobre 2024</strong></p>
    <p><strong>Départ: samedi 12 octobre 2024</strong></p>
    <details>
      <summary>Itinerary</summary>
      <p>Join me in Paris’ glittering Left Bank district, for a full week of discoveries as trees turn full color and chestnuts fall. We’ll step off with an early Sunday morning river walk, past the restored Notre-Dame cathedral and into the Luxembourg Gardens through farmers markets en route to a fantastic lunch and neighborhood orientation. Monday will blend offbeat museums and select shopping as we widen our circle to include the Marais quarter. We keep our eyes on the skies for the best possible weather days for side trips to Monet’s Giverny gardens, exploding with dahlias and nasturtium, and Fontainebleau Palace, gilded by eight centuries of French history. We’ll catch buses, trains, even a few bike rides, while balancing an elegant Paris whirl of activity: a chef’s private dining room, unique bakeries and pastry shops, aperitifs with a local author talk, a night at the theater, a morning of flea market finds, plus visits to some of the best current exhibits at Paris museums. Leave your contact info here for more details.</p>
    </details>
    <p class="infobox"><strong>Janvier 2024:</strong> Paris Marais</p>
    <p>A full week of insider travel, shopping and savoring. <a href="mailto:jeff@litlifefrance.com?subject=2024%20Paris%20trip">Indicate your interest with a quick email</a> to receive details and  itinerary.</p>
    <p class="infobox"><strong>Septembre 2025:</strong> Paris to Provence</p>
    <p>Take the train to explore inspiring places of France’s sunny south, from your base in Aix-en-Provence. <a href="mailto:jeff@litlifefrance.com?subject=2025%20Provence%20trip">Indicate your interest with a quick email</a> to receive details and itinerary.</p>
    <hr/>
    <p>All séjours are seven days in duration, kick off on Sundays, and will be anchored in one neighborhood you’ll call home. You will find my leadership style to be easygoing, curious and encouraging.</p>
    <p>Each journey will be about 50/50 planned vs. free time, and tailored to each group’s interests. I start by orienting you to our neighborhood, so you feel as if you live there. Then we’ll meet most days for one overall 2-6 hour walking excursion – a non-touristy blend of museums, gardens, theater, or shopping using public transportation—related to what we’ve studied and discussed. It’s an immersive, authentic journey.</p>
    <p>$2000 pp includes 2 mini courses, private consultations prior to your travel, custom itinerary , dedicated on-the-ground guide, and a coffee-table book of your experience post-trip. You save by booking your own airfare and accommodations. On the ground, you’ll also buy most meals and your local travel.</p>
    <p>LitLifeFrance lets you cultivate your love of and in-depth knowledge of all things French. <em>With</em> a trusted guide and a community to support you. And <em>without</em> having to speak the language—unless you want to!</p>
  </section>
</body>
</html>

<!-- 𝓙𝓪𝓬𝓸𝓫 𝓕𝓸𝓻𝓭, 2024 -->
