---
import Page from '@layouts/Page.astro'
---
<Page
  title = 'Gardons le Contact (Keep in Touch)'
  browserTitle = 'Quarterly Newsletter'
/>
  <section>
    <h2>Quarterly Dispatches from LitLifeHQ</h2>
    <p>More courses, trips, news, trends and shopping to come. Keep au courant with the quarterly(ish) <em>Mes Cinq</em> (My Five) email newsletter. It’s a fast read on all things French.
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/litlife"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://newsletter.litlifefrance.com', 'popupwindow')"
      class="embeddable-buttondown-form"
    >
      <label for="bd-email">Enter your email</label>
      <input type="email" name="email" id="bd-email" />
      <input type="submit" value="Subscribe" />
    </form>
    <p>You can also <a href="https://newsletter.litlifefrance.com/archive/">browse the archive</a>, or <a href="https://newsletter.litlifefrance.com/rss">subscribe via RSS</a> if you’re into that.</a>
  </section>

  <a class="button" href="/">← Head back home</a>
</Page>
