---
import Page from '@layouts/Page.astro'

import Polaroid from '@components/polaroid.astro'
---
<Page
  title = 'Travel with me to France'
  browserTitle = 'Trips'
>
	<section>
    <h2>Upcoming Trips</h2>
    <details>
      <summary class="infobox"><strong>Octobre 2024:</strong> Paris Saint-Germain</summary>
      <p><strong>Arrivée:</strong> samedi 5 octobre 2024</p>
      <p><strong>Départ:</strong> samedi 12 octobre 2024</p>
      <p>Join me in Paris’ glittering Left Bank district, for a full week of discoveries as trees turn full color and chestnuts fall. We’ll step off with an early Sunday morning river walk, past the restored Notre-Dame cathedral and into the Luxembourg Gardens through farmers markets en route to a fantastic lunch and neighborhood orientation. Monday will blend offbeat museums and select shopping as we widen our circle to include the Marais quarter. We keep our eyes on the skies for the best possible weather days for side trips to Monet’s Giverny gardens, exploding with dahlias and nasturtium, and Fontainebleau Palace, gilded by eight centuries of French history. We’ll catch buses, trains, even a few bike rides, while balancing an elegant Paris whirl of activity: a chef’s private dining room, unique bakeries and pastry shops, aperitifs with a local author talk, a night at the theater, a morning of flea market finds, plus visits to some of the best current exhibits at Paris museums.</p>
      <p><a href="mailto:jeff@litlifefrance.com?subject=2024%20Paris%20trip">Indicate your interest with a quick email</a> to receive details and full itinerary.</p>
    </details>

    <details>
      <summary class="infobox"><strong>Janvier 2025:</strong> Paris Marais</summary>
      <p>A full week of insider travel, shopping and savoring. <em>More details to come.</em></p>
      <p><a href="mailto:jeff@litlifefrance.com?subject=January%202025%20Paris%20trip">Indicate your interest with a quick email</a> to receive details and full itinerary.</p>
    </details>

    <details>
      <summary class="infobox"><strong>Avril 2025:</strong> Paris Provence</summary>
      <p>Take the train to explore inspiring places of France’s sunny south, from your base in Aix-en-Provence. <em>More details to come.</em></p>
      <p><a href="mailto:jeff@litlifefrance.com?subject=April%202025%20Paris%20trip">Indicate your interest with a quick email</a> to receive details and full itinerary.</p>
    </details>

    <p>All séjours are seven days in duration, kick off on Sundays, and will be anchored in one neighborhood you’ll call home.</p>

    <h4>Here are the three steps for how each journey works:</h4>
    <ol>
      <li>
        <p><strong>I pick travel dates</strong>, a Paris neighborhood where everyone will stay, and set an overall itinerary based on what will be happening in the city in the season we go.</p>
      </li>
      <li>
        <p><strong>You book and pay for your flights and accommodations</strong>, with an assist from me to ensure you’re within a 15-minute walk of my home base.</p>
        <p>Then you participate in more fun reading and online discussions as mini-courses adapted from the French culture and language classes I teach college students.</p>
      </li>
      <li>
        <p><strong>After getting to know one another online, we then meet up</strong> for a week of living and exploring, together and independently, in a fascinating place.</p>
        <p>I always start by orienting you to our neighborhood, so you feel as if you live there. Then we meet up most days and explore. Avoiding cookie-cutter tour stops. Not in an exhausting way. (Think garden walks, flea markets, fun detours, great meals, insider shopping, nights at the theatre. Taking buses and subways like locals. Plus time on your own to explore, work out, sleep in, sip, savor.)</p>
      </li>
    </ol>
    <p>Every journey will be unique, and designed to inspire and illuminate. And you won’t feel as if you’re part of a crowd: each travel ‘cohort’ will be no larger than 6 people. You’ll also have time to explore on your own: we’ll work toward a 50/50 balance of planned vs. free time, with an itinerary tailored to each group’s interests as well as what’s going on about town in the time period we’ll be visiting.</p>
    <p>$3500 pp includes 2 mini courses, private consultations prior to your travel, custom itinerary, my on-the-ground guidance, a welcome dinner, farewell cocktail hour, and a colorful, coffee-table book of your experience post-trip. You save by booking your own airfare and accommodations. On the ground, you’ll also buy most meals and your local travel.</p>
    <p class="center">¶</p>
    <p>LitLifeFrance lets you cultivate your love of and in-depth knowledge of all things French. <em>With</em> a trusted guide and a community to support you. And <em>without</em> having to speak the language—unless you want to!</p>

    <p class="center">Interested?</p>

    <a class="button" href="mailto:jeff@litlifefrance.com?subject=Mini Course">Reserve Your Space in a Course with a quick email</a>

    <p class="center">No commitment whatsoever.</p>

    <p>Just tell me a bit about yourself and which course you’re eyeing. Prefer filling out a form? <a href="https://unitof.typeform.com/to/xUAD6RM2">You can do that too</a>.</p>
  </section>
 </Page>