---
import Head from '@components/Head.astro'
import SiteNav from '@components/SiteNav.astro'

interface Props {
	title: string,
	browserTitle?: string,
}

const {
	title,
	browserTitle
} = Astro.props
---
<html>
	<Head
		pageSubtitle = {browserTitle}
	/>
	<body>
		<header>
			<h1>{title}</h1>
		</header>
		<slot/>
	</body>
	<!-- ð“™ð“ªð“¬ð“¸ð“« ð“•ð“¸ð“»ð“­, 2024 -->
</html>